.more-dot{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 120px;
    bottom: 25px;
}
.more-screen .icon-row{
    margin-top: 30px;
}
.more-suggestions {
    margin-top:40px;
    border-top:var(--main--border);
    padding-top:40px
}
.more-suggestions__title{
    margin-bottom: 30px;
}
.more-suggestions__icons{
    display: flex;
}
.more-suggestions__icon{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more-suggestions__icon-image{
    width: 60px;
    height: 60px;
    background-color: var(--yellow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.color__pink{
    background-color: rgb(240, 90, 135);
}
.color__blue{
    background-color: rgb(0, 119, 255);
}
.more-suggestions__icon-image i{
    font-size: 32px;
    color:white;
}
.more-suggestions__ad{
    width: 450px;
    margin: 20px 0;
    height: 250px;
    border-radius: 10px;
}
.more-suggestions__ad-text{
    display: flex;
    width:450px;
    height: 30px;
    box-shadow: 0 5px 10px rgb(138, 138, 138);
    border-radius: 10px;
    justify-content: center;
    align-items:center;
    font-weight: 600;
}